/* Header/Universial */
html { 
    background: url(backpack_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    opacity: .95;
  }
  .section {
      position: fixed;
     /* right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
      margin-left: auto;
      margin-right: auto; */
      z-index: -1;
  }
nav {
    border: 5px solid rgba(0, 0, 0, 0.419);
    background-color: rgba(0, 5, 68, 0.522);
    z-index: 5;
    margin: 0 auto;
} h1{
    color: crimson;
    border: 1px solid rgba(0, 0, 255, 0.502);
    text-align: center;
    
}
body {
    text-align: center;
    
    background-size: cover;
    
} 
.BG_contain {
    background-color:  #ffffffac;
    max-width: 1000px
    margin: 13em;
} 
h2{
    color: rgba(220, 20, 60, 0.44);
    border-bottom: 1px solid blue;
    /* border-left: solid; */
    /* border-radius: 60%; */
    text-align: center;
    /* background-color: rgba(0, 5, 68, 0.522); */
    z-index: 1;
}

/* Location city input div */
.container {
    /* background-color: blue; */
    border: 3px solid rgba(0, 0, 0, 0.682);
    max-width: 750px;
    margin: 7rem 15rem;
    margin-left: auto;
    margin-right: auto;

} 
#location{
    width: 42rem; 
    height: 50px; 
    border: 1px solid #999999;
    border: 3px solid chartreuse;
    padding: 5px;
    margin-left: 2rem;
} #bringing_input-box {
    width: 42rem; 
    height: 50px; 
    border: 1px solid #999999;
    border: 3px solid chartreuse;
    margin-left: 2rem;
}
input,
label {
    margin: .4rem 0;
    

}label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    color: rgba(9, 9, 9, 0.584);

} h3 {
    font-size: 125%;
    margin-bottom: 0 auto;
    color: rgba(0, 0, 0, 0.406);
/* font only changes the 2nd time user searches */
}

/* Weather table div */
#container {
    border: 3px solid rgba(0, 0, 0, 0.682);
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}h5 {
    color: rgba(0, 0, 0, 0.337);
    margin-bottom: 0%;
    margin-left: 18rem;
}
#weather-btn {
    margin-left: 20rem;
}
#food-button {
    margin-left: 15rem;
} 
table {
    margin: 0 auto;
    border: 3px solid rgba(0, 0, 0, 0.509);
    z-index: 10;
    color: rgba(0, 0, 0, 0.509);;

} thead, tbody, tr, th, td {
    border: 1px solid white;

}
.lists {
    background-color: blue;
    border: 3px solid orange;
    max-width: 250px;
    margin: auto;
}

li {
    list-style-type: none;
}
@media (max-width: 700px) {
    #location{
        width: auto; 
        
    } #bringing_input-box {
        width: auto; 
        
    }
    
}
@media (max-width: 400px) {
    
    #location{
        width: 20rem; 
        margin-left: .5rem;
        
    } #bringing_input-box {
        width: 20rem; 
        margin-left: .5rem;
        
    }
    h5 {
        margin-left: 4rem;
    }
    #weather-btn {
        margin-left: 7.5rem;
    }
    #food-button {
        margin-left: 2rem;
    } 
    /* #cloth-button {
        margin-left: 2rem;
    }
     #equip-button {
        margin-left: 3rem;
    } */
    .section {
        position: fixed;
        /* width: 180vh; */
        height: 100vh;
        margin-left: 0;
        margin-right: 0;
        z-index: -10;
    }
        
        /* display: flex;
        align-items: center; */
        /* justify-content: center; */
        /* overflow: hidden; */
    }
    @media (min-aspect-ratio: 16/9) {
        .section {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .section {
    width: 100%;
    height: auto;
}
@media (max-aspect-ratio: 4000px) {
    .section {
    width: 100%;
    height: auto;
    opacity: 0;
}
}
@media (min-aspect-ratio: 4000px) {
    .section {
    width: 100%;
    height: auto;
    opacity: 0;
}
}