h1{
    color: blue;
}label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
  
body {
    background-color: #c7c0f9;
    text-align: center;
}
h5 {
    color: white;
}
li {
    list-style-type: none;
}
 thead, tbody, tr, th, td {
    border: 1px solid white;
    text-align: center;
    margin: auto;
    
    
}
.container {
    background-color: chartreuse;
}
#container {
    background-color: crimson;
    border: 3px solid white;
    margin: .4rem 0;
}