/* Header/Universial */
html { 
    background: url(backpack_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    
  }
  /* video background div */
  .section {
      position: fixed;
      z-index: -1;
      max-width: 100%;
      margin: auto 0;
      text-align: center;
      opacity: 0;
      
  }
nav {
    border: 5px solid rgba(0, 0, 0, 0.419);
    background-color: rgba(0, 5, 68, 0.522);
    z-index: 5;
    font-size: 200%;
} h1{
    color: crimson;
    border: 1px solid rgba(0, 0, 255, 0.502);
    text-align: center;  
}
/* List explaining the process */
#inform {
    background-color: chartreuse;
    border: crimson solid 1px;
    max-width: 600px;
    margin: auto;
    margin-top: 10rem;
    font-size: 150%;
} li {
    font-size: 150%;
}

body {
    text-align: center;
    margin: 0;
    background-size: cover;
    
} 
/* transparent background */
.BG_contain {
    background-color:  #ffffffc4;
    margin-top: auto;
    max-width: 1000px
    margin: 13em;
}
/* If I correct the error above my code is broken so I'm not poking the bear */
h2{
    color: rgba(220, 20, 60, 0.44);
    border-bottom: 1px solid blue;
    text-align: center;
    z-index: 1;
}

/* Location city input div */
.container {
    border: 3px solid rgba(0, 0, 0, 0.682);
    max-width: 750px;
    margin: 7rem 15rem;
    margin-left: auto;
    margin-right: auto;

} 
/* input boxes */
#location{
    width: 42rem; 
    height: 50px; 
    border: 1px solid #999999;
    border: 3px solid chartreuse;
    padding: 5px;
    margin-left: 2rem;
} #bringing_input-box {
    width: 42rem; 
    height: 50px; 
    border: 1px solid #999999;
    border: 3px solid chartreuse;
    margin-left: 2rem;
}
input,
label {
    margin: .4rem 0;
    

}label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    color: rgba(9, 9, 9, 0.584);

} h3 {
    font-size: 125%;
    margin-bottom: 0 auto;
    color: rgba(0, 0, 0, 0.406);
/* font only changes the 2nd time user searches */
}

/* Weather table div */
#container {
    border: 3px solid rgba(0, 0, 0, 0.682);
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}h5 {
    color: rgb(0, 0, 0);
    margin-bottom: 0%;
    margin-left: 18rem;
}
#weather-btn {
    margin-left: 20rem;
}
#food-button {
    margin-left: 15rem;
} 
table {
    margin: 0 auto;
    border: 3px solid rgba(0, 0, 0, 0.509);
    z-index: 10;
    color: rgb(0, 0, 0);
    

} thead, tbody, tr, th, td {
    border: 1px solid white;

}
.lists {
    max-width: 250px;
    margin: auto;
}
/* When reshaping my viewpoint I made a width adjustment every time the code broke it's container */
@media (max-width: 1200) {
    #inform {
        margin: auto;
    }
}
@media (max-width: 800px) {
    .section {
        opacity: 1;
    }
    #inform {
        margin: auto;
    }
}
@media (max-width: 720px) {
    #location{
        width: 25rem; 
        
    } #bringing_input-box {
        width: 25rem; 
    }
    #inform {
        margin: auto;
    }
}
@media (max-width: 550px) {
    #location{
        width: 20rem; 
        
    } #bringing_input-box {
        width: 20rem; 
    }
    #equip-button {
        margin-right: auto;
    }
    #food-button {
        margin-left: auto;
    } 
    #cloth-button {
        margin-left: auto;
    }
}
@media (max-width: 430px) {
    
    #location{
        width: 20rem; 
        margin-left: .5rem;
        
    } #bringing_input-box {
        width: 20rem; 
        margin-left: .5rem;
        
    }
    h5 {
        margin-left: 4rem;
    }
    #weather-btn {
        margin-left: 7.5rem;
    }
    #food-button {
        margin-left: 2rem;
    } 
    .section {
        position: fixed;
    }
    video {
        margin-left: -30rem;
    }
    #inform {
        margin: auto;
    }
}
@media (max-width: 340px)  {
    #location{
        width: 18rem; 
        margin-left: .5rem;
        
    } #bringing_input-box {
        width: 18rem; 
        margin-left: .5rem;
        
    }
}