/* Header/Universial */
body {
    background-color: #23e9ff;
    text-align: center;
}
h1{
    color: crimson;
    border: 1px solid blue;
    border-left: solid;
    border-radius: 60%;
    text-align: center;
    background-color: cornflowerblue;
    z-index: 1;
}

/* Location city input div */
.container {
    background-color: blue;
    border: 3px solid orange;
    max-width: 250px;
    margin: auto;

}input,
label {
    margin: .4rem 0;

}label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    color: white;

}

/* Weather table div */
#container {
    background-color: orange;
    border: 3px solid blue;
    margin: .4rem 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}h5 {
    color: white;
    margin-bottom: 0%;

}table {
    margin: 0 auto;

} thead, tbody, tr, th, td {
    border: 1px solid white;

}
.lists {
    background-color: blue;
    border: 3px solid orange;
    max-width: 250px;
    margin: auto;
}
/* Not needed yet */
li {
    list-style-type: none;
}